@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #333333;
  background-color: #f3f3f3;
}

.button {
  display: inline-block;
  padding: 15px 47px;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  background-color: #33ccff;
  border: none;
}

.button:hover {
  background-color: #09b6f0;
}
.button:focus {
  background-color: #09b6f0;
}
.button:active {
  color: #ffffff;
  background-color: #d0d0d0;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

a {
  text-decoration: none;
}

img {
  min-height: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 50ms;
  box-sizing: border-box;
}

h2 {
  font-size: 20px;
  line-height: 48px;
  font-family: Roboto, Arial, serif;
}

.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 205px;
  background: url(../img/sochi-header-full.jpg) 55% 100% no-repeat;
}

.header-top img {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.header-top .menu-nav {
  display: block;
  width: 22px;
  height: 16px;
  background: url(../img/menu-header-full.svg) 0 0 no-repeat;
}
/*****/

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }
  70% {
    transform: translateY(30px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}


.navigation {
  position: absolute;
  width: 290px;
  padding: 0;
  margin: 0;
  top: 50px;
  left: calc(50% - 255px/2);
  display: none;
}

.site-navigation {
  position: absolute;
  margin: 0;
  padding: 70px 20px;
  list-style: none;
  background-color: #003366;
  box-sizing: border-box;
}

.site-navigation a {
  font-size: 18px;
  line-height: 24px;
  font-family: Roboto, Arial, serif;
  color: #ffffff;
}

.site-navigation li {
  margin-bottom: 18px;
}

.menu-close {
  position: absolute;
  top: 10px;
  right: 40px;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 1;
}

.menu-close::before,
.menu-close::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 5px;
  width: 30px;
  height: 3px;
  background-color: #d0d0d0;
}

.menu-close::before {
  transform: rotate(45deg);
}

.menu-close::after {
  transform: rotate(-45deg);
}

.menu-close:hover::before,
.menu-close:hover::after {
  background-color: #f28189;
}

.menu-close:focus::before,
.menu-close:focus::after {
  background-color: #f28189;
}

.menu-close:active::before,
.menu-close:active::after {
  background-color: #ffffff;
}


/*****/

.header-top-right {
  display: none;
}

.header-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header-logo {
  width: 70px;
  height: 70px;
}

.header-footer h1 {
  width: 250px;
  text-align: center;
  font-size: 20px;
  line-height: 48px;
  font-family: Roboto, Arial, serif;
  box-sizing: border-box;
}

.header-footer h1 span {
  font-size: 50px;
  text-transform: uppercase;
}

.main {
  position: relative;
  margin-top: 50px;
  margin-bottom: 30px;
}

.main::before {
  content: "";
  position: absolute;
  top: -230px;
  left: 38%;
  width: 130px;
  height: 240px;
  background: url(../img/line.svg) 0 0 no-repeat;
}

.main-title {
  text-align: center;
  margin-bottom: 30px;
}

.main-title h2 {
  margin-bottom: 10px;
}

.main-title .select-cruise {
  border: 0;
  background-color: rgba(0, 0, 0, 0)
}

.block-catalog {
  width: 290px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 50ms;
  box-sizing: border-box;
}

.cruise-item h3 {
  font-size: 18px;
  color: #00a2dd;
  font-family: Roboto, Arial, sans-serif;
  cursor: pointer;
}

.cruise-item p {
  margin: 0;
}

.cruise-item svg {
  padding-left: 10px;
  padding-bottom: 2px;
}

.block-catalog .image {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.flag-hit,
.flag-stock,
.flag-discount {
  position: absolute;
  padding-top: 30px;
  top: -8px;
  right: 20px;
  width: 89px;
  height: 101px;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #fff;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 50ms;
}

.flag-hit {
  background: url(../img/hit-tag.png) 0 0 no-repeat;
}

.flag-stock {
  background: url(../img/stock-tag.png) 0 0 no-repeat;
}

.flag-discount {
  background: url(../img/discount-tag.png) 0 0 no-repeat;
}


.catalog-list,
.catalog-list-smail {
  margin: 0;
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 50ms;
}

.catalog-item,
.smail-item {
  position: relative;
  width: 290px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  background-color: #fff;
  transition-property: all;
  transition-duration: 1s;
  transition-delay: 50ms;
}

.cruise-item {
  padding: 0 23px;
}

.smail-item-3 {
  display: none;
}

.catalog-item-price {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 30px;
  line-height: 48px;
  font-family: Roboto, Arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}

.catalog-item-price span {
  font-size: 18px;
  line-height: 48px;
  color: #0d3351;
}

.catalog .button {
  margin-left: calc(50% - 220px/2);
}

/**/

.footer {
  padding-top: 20px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 1.05px;
  color: #003366;
  background-color: #ffffff;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.footer-menu {
  display: none;
}

.footer a {
  color: #003366;
}

.info {
  width: 290px;
}

.info a {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 1.05px;
  font-weight: 700;
}

.info p {
  margin: 0;
}

.footer .info-text {
  margin-bottom: 20px;
  font-size: 10px;
  line-height: 18px;
  letter-spacing: 1.05px;
  font-weight: 400;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #003366;
}

.social-button:hover path,
.social-button:hover circle {
  fill: #003366;
}

.social-button:hover {
  background-color: rgb(163, 190, 230);
}

.social-button:focus path,
.social-button:focus circle {
  fill: #003366;
}

.social-button:focus {
  background-color: rgb(163, 190, 230);
}

.social-button:active path,
.social-button:active circle {
  fill: #ffffff;
}

.social-button:active {
  background-color: #33c7fd;
}

.footer-social {
  margin: 0 auto;
  margin-bottom: 20px;
  text-align: center;
}

.footer-social p {
  margin-top: 10px;
}

.footer-social ul {
  width: 150px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-social-block {
  width: 150px;
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 0 auto;
}

.footer .info {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.info a {
  margin: 0 auto;
}


/*modal*/


.modal {
  display: none;
}

.modal-block {
  top: 50px;
  left: calc(50% - 850px/2);
  position: fixed;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.catalog-columns {
  width: 850px;
  padding: 120px 50px 90px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-sizing: border-box;
  color: #000000;
  box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75)
}

.button-close {
  position: absolute;
  top: 25px;
  right: 34px;
  width: 15px;
  height: 17px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
}

.button-close::before,
.button-close::after {
  content: "";
  position: absolute;
  top: 7px;
  left: -2px;
  width: 19px;
  height: 2px;
  background-color: #999999;
}

.button-close::before {
  transform: rotate(53deg);
}

.button-close::after {
  transform: rotate(-53deg);
}

.button-close:hover::before,
.button-close:hover::after {
  opacity: 0.6;
}

.button-close:active::before,
.button-close:active::after {
  opacity: 1;
}

.product-info ul {
  list-style: none;
  padding-left: 0;
}

.product-info h3 {
  margin: 0;
  margin-bottom: 20px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #0099cc;
  text-align: left;
}

.product-info p {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  font-family: Raleway, Arial, sans-serif;
  letter-spacing: 0.7px;
  color: #003366;
}

.product-price li:nth-child(5) p {
  font-family: Roboto, Arial, sans-serif;
  margin-top: 10px;
  font-size: 30px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: #003366;
}

.slider {
  margin: 0;
  width: 361px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #fff;
}

.slider input[type=radio] {
  display: none;
}

.slider-inner {
  width: 361px;
  margin-bottom: 0;
  overflow: hidden;
  order: 1;
}

.slider-inner ul {
  margin: 0;
}

.slider-slides {
  padding-left: 0;
  width: 406%;
  display: flex;
  flex-direction: row;
  transition: transform 0.8s ease;
  list-style: none;
}

.slider-slides img {
  width: 361px;
  height: 240px;
}

.slider-controls {
  width: 361px;
  margin-bottom: 200px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  text-align: center;
  order: 2;
}

.slider-controls label {
  display: inline-block;
  width: 83px;
  height: 55px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8);
  transition: background-color 0.2s;
  cursor: pointer;
}

.slider-controls label:nth-child(1) {
  background-image: url("../img/abrau-main-modal-full-btn-1.jpg");
  background-size: 83px 66px;
}

.slider-controls label:nth-child(2) {
  background-image: url("../img/abrau-main-modal-full-2.jpg");
  background-size: 83px 66px;
}

.slider-controls label:nth-child(3) {
  background-image: url("../img/abrau-main-modal-full-3.jpg");
  background-size: 83px 66px;
}

.slider-controls label:nth-child(4) {
  background-image: url("../img/abrau-main-modal-full-btn-4.jpg");
  background-size: 83px 66px;
}

#btn-1:checked~.slider-controls label[for="btn-1"],
#btn-2:checked~.slider-controls label[for="btn-2"],
#btn-3:checked~.slider-controls label[for="btn-3"],
#btn-4:checked~.slider-controls label[for="btn-4"] {
  background-color: #666666;
}

#btn-1:checked~.slider-inner .slider-slides {
  transform: translate(0);
}

#btn-2:checked~.slider-inner .slider-slides {
  transform: translate(-361px);
}

#btn-3:checked~.slider-inner .slider-slides {
  transform: translate(-722px);
}

#btn-4:checked~.slider-inner .slider-slides {
  transform: translate(-1083px);
}

.product-info {
  padding: 0;
  margin: 0;
  width: 360px;
}

@media (min-width: 1300px) {
  .container {
    width: 750px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
    box-sizing: border-box;
  }

  .site-navigation {
    width: 420px;
    top: 40px;
    left: 10px;
    padding-left: 40px;
  }

  .site-navigation li {
    width: 250px;
  }

  .menu-close {
    top: 60px;
    right: -120px;
  }
  
  .header {
    padding-top: 30px;
    background-position: 50% 0;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-top-right {
    width: 515px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    line-height: 48px;
    font-family: Raleway, Arial, sans-serif;
  }

  .header-top-right .money {
    width: 80px;
    padding-left: 20px;
    background: url(../img/rub.png) 0 50% no-repeat;
    background-size: 10px 12px;
  }

  .header-top-right a {
    display: block;
    color: #000000;
  }

  .personal-area {
    width: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .personal-area a span {
    width: 6px;
    height: 6px;
    margin-bottom: 3px;
    box-sizing: border-box;
  }

  .personal-area a {
    display: block;
    align-items: baseline;
    line-height: 20px;
    box-sizing: border-box;
  }

  .personal-area a:nth-child(1) {
    padding-left: 20px;
  }

  .personal-area span:nth-child(1) {
    padding-left: 11px;
  }

  .header-top-right .personal-area {
    background: url(../img/user.png) 0 50% no-repeat;
  }

  .personal-area a:hover {
    color: rgba(0, 0, 0, 0.3); 
  }

  .personal-area a:hover path {
    fill: rgba(0, 0, 0, 0.3);
  }

  .personal-area a:focus {
    color: rgba(0, 0, 0, 0.3); 
  }

  .personal-area a:focus path {
    fill: rgba(0, 0, 0, 0.3);
  }

  .personal-area a:active {
    color: rgb(51, 204, 255); 
  }

  .personal-area a:active path {
    fill: rgb(51, 204, 255);
  }

  .header-top-right p {
    padding: 0;
    margin: 0;
  }

  .header-top-right select {
    border: 0;
    background-color: rgba(0, 0, 0, 0)
  }

  .phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .phone a,
  .phone p {
    line-height: 14px;
  }

  .phone a {
    font-weight: 700;
  }
  
  .catalog-list,
  .catalog-list-smail {
    width: 345px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .block-catalog {
    width: 720px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .block-catalog img {
    width: 345px;
    height: 272px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }
  
  .catalog-item,
  .smail-item {
    width: 345px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .catalog-item-1 .cruise-item h3 {
    width: 130px;
  }

  .catalog-item-2 .cruise-item h3  {
    width: 210px;
  }

  .smail-item-1 .cruise-item h3 {
    width: 170px;
  }

  .smail-item-2 .cruise-item h3 {
    width: 145px;
  }

  .cruise-item p {
    width: 250px;
  }

  .catalog-item-2 .text {
    width: 200px;
  }

  .smail-item-1 .text {
    width: 150px;
  }

  .main {
    margin-bottom: 60px;
  }

  .main::before {
    left: 45%;
  }

  .main-footer {
    padding-top: 25px;
    padding-bottom: 40px;
    align-items: flex-start;
  }

  .footer-menu {
    padding-left: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .footer .info {
    width: 250px;
    margin: 0;
    margin-top: 5px;
    align-items: flex-start;
  }

  .info a,
  .info p {
    padding: 0;
    padding-top: 5px;
    margin: 0;
    font-size: 14px;
    line-height: 24px;
  }

  .info p {
    padding: 0;
  }

  .footer .info-text {
    margin-bottom: 5px;
  }

  .footer-social p {
    text-align: left;
  }
  
}

@media (min-width: 1670px) {
  .container {
    width: 1170px;
    margin: 0 auto;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .header {
    padding-bottom: 200px;
  }

  .site-navigation {
    left: -440px;
  }

  .menu-close {
    left: -70px;
  }

  .header-logo img {
    width: 88px;
    height: 88px;
  }

  .main::before {
    left: 47%;
  }

  .main-title {
    margin-top: 50px;
  }

  .catalog {
    padding-bottom: 70px;
  }

  .block-catalog {
    width: 1140px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .block-catalog .image img {
    display: none;
  }

  .cruise-item {
    padding-left: 40px;
    padding-bottom: 34px;

  }

  .catalog-item .cruise-item h3,
  .smail-item .cruise-item h3 {
    width: 450px;
  }

  .cruise-item .text {
    width: 440px;
    margin: 0;
  }

  .smail-item-3 {
    display: flex;
  }

  .block-catalog .image {
    width: 555px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .catalog-list,
  .catalog-list-smail {
    width: 555px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .catalog-item,
  .smail-item {
    margin-bottom: 20px;
    width: 555px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .block-catalog .image-1 {
    width: 555px;
    height: 438px;
    background: #fff url(../img/anapa-main-full-438.jpg) 0 0 no-repeat;
  }

  .block-catalog .image-2 {
    width: 555px;
    height: 215px;
    background: #fff url(../img/novorossiysk-main-full-438.jpg) 0 50% no-repeat;
  }

  .block-catalog .image-3 {
    width: 555px;
    height: 115px;
    background: #fff url(../img/sochi-main-full-438.jpg) 0 50% no-repeat;
  }

  .block-catalog .image-4 {
    width: 555px;
    height: 115px;
    background: #fff url(../img/gelendjik-main-full-438.jpg) 0 50% no-repeat;
  }

  .block-catalog .image-5 {
    display: block;
    width: 555px;
    height: 215px;
    background: #fff url(../img/abrau-main-full-438.jpg) 0 90% no-repeat;
  }

  .block-catalog .image-2:hover {
    height: 418px;
    margin-top: -203px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .image-2:hover~.flag-stock {
    top: -211px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  } 

  .block-catalog .image-3:hover {
    height: 305px;
    margin-bottom: -190px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .block-catalog .image-4:hover {
    height: 438px;
    margin-top: -323px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .block-catalog .image-5:hover {
    height: 410px;
    margin-top: -200px;
    transition-property: all;
    transition-duration: 1s;
    transition-delay: 50ms;
  }

  .block-catalog .button {
    margin-top: 40px;
  }

  .footer-social {
    margin-left: 120px;
  }
}




/*----*/